<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" (click)="menu(1)">Crear Item</button>
        <button type="button" class="btn btn-default" (click)="menu(0)">Modificar Item</button>
      </div>
    </div>

    <div class="col-md-10">
      <div style='background-color:white;color:black;' [hidden]="controladorSPA[0]">

        <h1>Crea Item</h1>

        <form (ngSubmit)="crearItem(NuevoItemForm)" #NuevoItemForm="ngForm">
          <div class="form-group">
            <label>Nombre</label>
            <input minlength=5 required type="text" class="form-control" placeholder="nombre" name="nombre" [(ngModel)]="nuevoItem.nombre">
          </div>

          <div class="form-group">
            <label>Cantidad</label>
            <input minlength=5 required type="number" class="form-control" placeholder="cantidad" name="cantidad" [(ngModel)]="nuevoItem.cantidad">
          </div>

          <div class="form-group">
            <label>Peso</label>
            <input minlength=5 required type="number" class="form-control" placeholder="peso" name="peso" [(ngModel)]="nuevoItem.peso">
          </div>

          <div class="form-group">
            <label>Bodega</label>
            <input minlength=5 required type="text" class="form-control" placeholder="bodega" name="bodega" [(ngModel)]="nuevoItem.bodega">
          </div>

          <button type="submit" class="btn btn-success">Crear Item</button>
          <br>

        </form>
      </div>
    </div>

  </div>
</div>
