<div class="container">
    <div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let bodega of bodegas">
      <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
          <h4 class="pull-right">{{bodega.capacidad}}</h4>
          <h4><a>{{bodega.nombre}}</a></h4>
          <p>
            {{bodega.direccion}}
          </p>
        </div>
        <p>
          <a (click)="eliminiarBodega(bodega.id)" class="btn btn-danger btn-block" role="button">Borrar</a>
          <a href="/editarBodega?id={{bodega.id}}" class="btn btn-primary btn-block" role="button">Editar</a>
        </p>
      </div>
    </div>
</div>
